@model IEnumerable<SharedLibrary.TriggerModel>
@{
    ViewData["Title"] = "Trigger page";
}
<hr/>
<a asp-action="CreateTrigger">Create trigger</a> Or
<a asp-action="ImportTrigger">Import trigger from excel/csv</a>
<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Position</th>
            <th>Active</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td scope="row">@item.Title</td>
                <td>@item.Description</td>
                <td>@item.Position</td>
                <td>!@item.IsNotActive</td>
                <td>
                    <a asp-action="ShowTrigger" asp-route-id="@item.Id">Detail</a>
                    | <a asp-action="EditTrigger" asp-route-id="@item.Id">Edit</a>
                    | <a asp-action="DeleteTrigger" asp-route-id="@item.Id">Delete</a>
                    | <a asp-action="SetAction" asp-route-id="@item.Id">Set action</a>
                    | <a asp-action="SetCondition" asp-route-id="@item.Id">Set condition</a>
                </td>
            </tr>

        }
        
    </tbody>
</table>
